// .bg {
//     animation-name: PColor;
//     position: relative;
//     animation-delay: 2s;
//     animation-duration: 4s;
//     animation-iteration-count: 1;
//     // animation-direction: reverse;
//     // animation-direction: alternate;
//     animation-direction: alternate-reverse;
//     // animation-fill-mode: forwards;
//     // animation-fill-mode: backwards;
//     animation-fill-mode: both;

//     // animation-iteration-count: infinite;
// }

@keyframes PColor {
    // from {color: red;}
    // to {color: yellow;}
    0% {
        background-color: rgb(197, 105, 105);
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: rgb(212, 168, 100);
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: rgb(158, 221, 116);
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: rgb(70, 156, 113);
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: rgb(190, 128, 192);
        left: 0px;
        top: 0px;
    }
}
.cdiv {
    width: 20px;
    height: 5px;
    background-color: rgb(179, 112, 112);
    font-weight: bold;
    position: relative;
    animation: PColor 2s linear  infinite alternate;

  }

#div1 {
    animation-timing-function: linear;
}
#div2 {
    animation-timing-function: ease;
}
#div3 {
    animation-timing-function: ease-in;
}
#div4 {
    animation-timing-function: ease-out;
}
#div5 {
    animation-timing-function: ease-in-out;
}

////////////////////////////////////////////////////////
$size: 350px;
$layer: 20;
.container {
    background: radial-gradient(ellipse at bottom, #6b91bd 0%, #474b61 100%);
    // height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: repeat(20, 5vh);
    grid-template-columns: repeat(20, 5vw);
    transform-style: preserve-3d;
}

.monitor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-style: preserve-3d;
}

.trigger {
    &:active ~ .monitor {
        .vr_layer_item {
            width: 40%;
            height: 40%;
            border-radius: 5px;
        }
    }

    @for $i from 1 through 20 {
        @for $j from 1 through 20 {
            $key: ($i - 1) * 20 + $j;

            &:nth-child(#{$key}) {
                &:hover ~ .monitor {
                    .camera {
                        &.o-y {
                            transform: rotateY(($j - 10) * -8deg);
                        }

                        &.o-x {
                            transform: rotateX(($i - 10) * 8deg);
                        }
                    }
                }
            }
        }
    }
}

.camera {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 500ms;

    &.o-y {
        transform: rotateY(-30deg);
    }
}

.vr {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $size;
    height: $size;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;

    &_layer {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(#fff, 0.2);
        background: rgba(#09f, 0.006);
        border-radius: 10px;
        transform: preserve-3d;

        @for $i from 1 through $layer {
            &:nth-child(#{$i}) {
                transform: translateZ($i * $size / $layer - $size / 2);
            }

            &:nth-child(#{$i}) &_item {
                animation-delay: $i * -210ms;
            }
        }

        // &_item {
        //     width: 70%;
        //     height: 70%;
        //     border: 3px solid #fff;
        //     border-radius: 100%;
        //     background: rgba(#000, 0.05);
        //     animation: sphere 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) alternate infinite,
        //         color 5000ms linear alternate infinite;
        //     transition: 500ms;
        // }
    }
}

@keyframes sphere {
    0% {
        transform: scale(0) rotateZ(45deg);
    }

    50% {
        transform: scale(0) rotateZ(45deg);
    }

    100% {
        transform: scale(1) rotateZ(45deg);
    }
}

// @keyframes color {
//     0% {
//         border-color: #f55;
//     }

//     50% {
//         border-color: #55f;
//     }

//     100% {
//         border-color: #5f5;
//     }
// }
